%estiloTitulo{
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: #a47132;
    text-align: center; 
   
    
    
    
    
}

%estiloParrafo{
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
    color: black;
text-align: center;   
    
}